# flagmega-kernel: qkv_parallel_linear/packed_fused_gemv platform=generic
{% import "entrypoints/_common.py.jinja" as entry with context %}
{% if render_calls is defined %}
{% for call in render_calls %}
{% if call.family == "qkv_parallel_linear" and call.variant == "packed_fused_gemv" %}
{{ entry.kernel_decorator(call) }}
def {{ call.symbol }}({{ call.signature }}):
{{ entry.mesh_coordinates() }}
{% if call.local_m != 1 %}
    for qkv_local_m in tl.range(0, {{ call.local_m }}):
{% endif %}
{% filter indent(4 if call.local_m != 1 else 0, first=True) %}
{% for output in call.outputs %}
    for qkv_local_n_start in tl.range(
        0, {{ output.local_n_capacity }}, {{ call.tile_n }}
    ):
        qkv_local_n_offsets = qkv_local_n_start + tl.arange(0, {{ call.tile_n }})
        qkv_n_mask = (
            (qkv_local_n_offsets < {{ output.local_n_capacity }})
            & ({{ output.active }})
        )
        qkv_accumulator = tl.zeros(({{ call.tile_n }},), tl.float32)
        for qkv_local_k_start in tl.range(
            0, {{ call.local_k_capacity }}, {{ call.block_k }}
        ):
            qkv_local_k_offsets = qkv_local_k_start + tl.arange(0, {{ call.block_k }})
            qkv_k_mask = (
                (qkv_local_k_offsets < {{ call.local_k_capacity }})
                & ({{ call.source_active }})
            )
            qkv_source = tl.load(
                {{ call.source }} + ({{ call.source_offset }}),
                mask=qkv_k_mask,
                other=0.0,
            ).to(tl.float32)
            qkv_weight_offsets = (
                shard_index * {{ call.weight_owner_stride }}
                + (qkv_local_k_offsets[None, :] // {{ call.k_lane }})
                    * {{ call.weight_k_group_stride }}
                + ({{ output.weight_group_start }}
                   + qkv_local_n_offsets[:, None] // {{ call.n_lane }})
                    * {{ call.weight_n_group_stride }}
                + (qkv_local_n_offsets[:, None] % {{ call.n_lane }})
                    * {{ call.k_lane }}
                + ((qkv_local_k_offsets[None, :] % {{ call.k_lane }})
                    // {{ call.k_vector }}) * {{ call.k_vector }}
                + qkv_local_k_offsets[None, :] % {{ call.k_vector }}
            )
            qkv_weight = tl.load(
                {{ call.weight }} + qkv_weight_offsets,
                mask=qkv_n_mask[:, None] & qkv_k_mask[None, :],
                other=0.0,
            ).to(tl.float32)
            qkv_accumulator += tl.sum(
                qkv_weight * qkv_source[None, :], axis=1
            )
        tl.store(
            {{ output.result }} + ({{ output.result_offset }}),
            qkv_accumulator.to({{ call.output_type }}),
            mask=qkv_n_mask,
        )
{% endfor %}
{% endfilter %}


{% endif %}
{% endfor %}
{% endif %}
